assets
!assets/
!assets/robot/
!assets/robot/G2_omnipicker/
!assets/robot/G2_omnipicker/robot_fix.usda
!assets/robot/G2_omnipicker/configuration/
!assets/robot/G2_omnipicker/configuration/robot_base.usd
!assets/robot/G2_omnipicker/configuration/Cam_L.usd
!assets/robot/G2_omnipicker/configuration/Cam_R.usd
!assets/robot/G2_omnipicker/configuration/robot_physics.usd
!assets/robot/G2_omnipicker/configuration/robot_sensor.usd
!assets/robot/G2_omnipicker/configuration/robot_robot.usd
!assets/robot/curobo_robot/
!assets/robot/curobo_robot/assets/
!assets/robot/curobo_robot/assets/robot/
!assets/robot/curobo_robot/assets/robot/G2/
assets/robot/curobo_robot/assets/robot/G2/*
!assets/robot/curobo_robot/assets/robot/G2/G2_omnipicker_fixed_dual.urdf
